language: node_js
node_js:
  - "10"
branches:
  only:
  - master
  - dev
install:
  - npm install
script:
  - npm run build
deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: "clientstage.acryl.tech"
    skip_cleanup: true
    local_dir: dist
    region: eu-central-1
    on:
      branch: dev