language: node_js
node_js:
  - "10"
branches:
  only:
  - dev
script:
  - npm install
  - npm run build
before_deploy:
  - rm -rf node_modules/
  - rm -rf src/
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: "acrylplatform.com"
  skip_cleanup: true
  region: eu-central-1
  on:
    branch: dev